.footer {
    background-color: $footer-bg-color;
    padding: 30px 0;
    @media screen and (min-width: $screen-desktop) {
    background-color: $footer-bg-color;
    padding: 32px 0;
    min-height: 90px;
    }
    &__container {
        @include flex (center ,center , column);
        @media screen and (min-width: $screen-desktop) {
            @include flex (space-between ,center , row);
        }
        
        
    }
    &__copyright {
        @include text ($H100 , 400 ,$grey);
        margin-bottom: 20px;
    }
    &__logo {
        line-height: 1;
        margin-bottom: 20px;
    }
    &__author {
        @include text ($H100 , 400 ,$grey);
    }
    &__author--marked {
        color: $blog-btn-color;
    }
    &__logo-link {
        @include text ($H500 , 400 ,$grey);
        font-family: $logo-font;
        transition: all .3s linear;
        
    }
    &__logo-link:hover {
        color: $gallery-bg-color;
    }

    &__logo-link::after {
        display: block;
        content: "";
        height: 2px;
        width: 0%;
        background-color: $gallery-bg-color;
        transition: width 0.5s ease-in-out;
    }
    &__logo-link:hover:after,
    &__logo-link:focus:after {
    width: 100%;
    } 
}