<section class="section-blog" id="blog">
  <div class="section-blog__container container">
    <h2 class="section-blog__tittle">Blog</h2>
    <p class="section-blog__text">
      Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit.
    </p>

    <ul class="section-blog__list blog-card">
      <li class="blog-card__item">
        <div class="blog-card__date-box">
          <span class="blog-card__date">20</span>
          <span class="blog-card__date--moonth">nov</span>
        </div>
        <img src="images/qiwi.png" alt="" class="blog-card__img" />
        <div class="blog-card__content">
          <h3 class="blog-card__tittle">
            Green Smoothies: Too Much of a Good Thing?
          </h3>
          <p class="blog-card__info">By Auskteez - 2 hours ago</p>
        </div>
      </li>
      <li class="blog-card__item">
        <div class="blog-card__date-box">
          <span class="blog-card__date">14</span>
          <span class="blog-card__date--moonth">nov</span>
        </div>
        <img src="images/supe.png" alt="" class="blog-card__img" />
        <div class="blog-card__content">
          <h3 class="blog-card__tittle">
            Growing Food and a “Thirst” for Innovation
          </h3>
          <p class="blog-card__info">By Auskteez - 3 hours ago</p>
        </div>
      </li>
      <li class="blog-card__item">
        <div class="blog-card__date-box">
          <span class="blog-card__date">12</span>
          <span class="blog-card__date--moonth">nov</span>
        </div>
        <img src="images/berry.png" alt="" class="blog-card__img"/>
        <div class="blog-card__content">
          <h3 class="blog-card__tittle">Pesticides & Food: What You Need to Know</h3>
          <p class="blog-card__info">By Auskteez - 6 hours ago</p>
        </div>
      </li>
    </ul>

    <a href="" class="button section-blog__button">VIEW MORE</a>
  </div>
</section>
