<section id="contact" class="section-contact">
  <div class="section-contact__container container">
    <h2 class="section-contact__title">Contact</h2>
    <p class="section-contact__text">
      For new projects, ideas, business or anything you'd like to discuss,
      contact with me!
    </p>

    <div class="section-contact__wrapper">
      <div class="section-contact__form-wrapper">
        <form id="form" action="#" class="section-contact__form" method="POST">
          <input
            class="section-contact__input"
            type="text"
            minlength="5"
            placeholder="Your name..."
            required
          />
          <input
            class="section-contact__input"
            type="email"
            placeholder="Your email..."
            required
          />
          <input
            class="section-contact__input"
            type="tel"
            minlength="9"
            placeholder="Your phone number..."
            required
          />
          <textarea
            class="section-contact__textarea"
            name=""
            id=""
            minlength="3"
            cols="30"
            rows="10"
            placeholder="Your message... (necessarily)"
            required
          ></textarea>
        </form>
        <button form="form" class="section-contact__button button">Send</button>
      </div>

      <div class="section-contact__info">
        <ul class="section-contact__list">
          <li class="section-contact__list-item">
            <h3 class="section-contact__info-title">ADDRESS</h3>
            <p class="section-contact__info-text">
              123 City name, Street, City, Country
            </p>
          </li>
          <li class="section-contact__list-item">
            <h3 class="section-contact__info-title">EMAIL</h3>
            <p class="section-contact__info-text">cahee@domain.com</p>
          </li>
          <li class="section-contact__list-item">
            <h3 class="section-contact__info-title">PHONE</h3>
            <p class="section-contact__info-text">+012 345 6789</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
