<section id="gallery" class="section-gallery">
  <div class="section-gallery__container container">
    <h2 class="section-gallery__title">Gallery</h2>
    <p class="section-gallery__text">
      Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>

    <div class="section-gallery__collage collage">
      <div class="collage__row">
        <div class="collage__col--large collage__imege-wraper collage__col">
          <img src="images/collage_img-1.png" alt="" class="collage__img" />
        </div>
        <div class="collage__col--medium collage__col">
          <div
            class="collage__row--medium collage__imege-wraper collage__imege-wraper--small"
          >
            <img src="images/collage_img-2.png" alt="" class="collage__img" />
          </div>
          <div
            class="collage__row--medium collage__imege-wraper collage__imege-wraper--small"
          >
            <img src="images/collage_img-3.png" alt="" class="collage__img" />
          </div>
        </div>
      </div>

      <div class="collage__row">
        <div
          class="collage__col--medium collage__imege-wraper collage__col collage__imege-wraper--medium"
        >
          <img src="images/collage_img-4.png" alt="" class="collage__img" />
        </div>
        <div
          class="collage__col--medium collage__imege-wraper collage__col collage__imege-wraper--medium"
        >
          <img src="images/collage_img-5.png" alt="" class="collage__img" />
        </div>
      </div>
    </div>
    <a href="#" class="button section-gallery__button">VIEW MORE</a>
  </div>
</section>
