<header id="header" class="header">
    <nav class="header__navigation navigation">
      <div class="navigation__container container">
        <div class="navigation__logo logo">Cahee</div>
        <ul class="navigation__list">
          <li class="navigation__item"><a href="#header" class="navigation__link">HOME</a></li>
          <li class="navigation__item"><a href="#about" class="navigation__link">ABOUT</a></li>
          <li class="navigation__item"><a href="#services" class="navigation__link">SERVICES</a></li>
          <li class="navigation__item"><a href="#gallery" class="navigation__link">GALLERY</a></li>
          <li class="navigation__item"><a href="#blog" class="navigation__link">BLOG</a></li>
          <li class="navigation__item"><a href="" class="navigation__link">CONTACT</a></li>
        </ul>
      </div> 
    </nav>
    <div class="header__content">
      <div class="header__container container">
        <h2 class="header__title">Fresh Life</h2>
        <p class="header__text">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <a href="" class="button">GET FREE NOW</a>
      </div>
      <object class="scroll" data="images/scroll.svg" type="image/svg+xml"></object>
      </div>
</header>